<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../src/login-app/login-app.html">
<link rel="import" href="../../src/altamov-app/altamov-app.html">

<dom-module id="mov-app">
  <template>
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  -->
    <link rel="stylesheet" href="../../css/style.css" type="text/css" media="">

    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img src="https://www.estrategadigital.com.mx/digital/wp-content/uploads/2019/06/114_9b.jpg" width="900px" height="300px" alt="">
      </div>
    </div>
    <div>
      <p>
        ¡Hola, {{nombre}}!
      </p>
    </div>
  <nav>
    <ul>
      <button on-click="cerrar" class="botones">Cerrar Sesion</button>
      <button on-click="alta" class="botones">Alta de Movimientos</button>
      <button on-click="consultaMovimientos" class="botones">Consulta Movimientos</button>
      <button on-click="getTipoCambio" class="botones">Tipos de Cambio</button>
    </ul>
  </nav>

    <table border="1" hidden$="{{hide}}">
        <tr>
          <th>
             Fecha de movimiento
          </th>
          <th>
            Concepto movimiento
          </th>
          <th>
            Tipo de Movimiento
          </th>
          <th>
            Importe
          </th>
          <th>
            Divisa
          </th>
          <th>
            Categoria
          </th>
          <th>
            Monto en Pesos
          </th>
        </tr>

         <template is="dom-repeat"  items="{{listado}}">
          <tr>
            <td>
                {{item.fecha}}
            </td>
            <td>
                {{item.concepto}}
            </td>
            <td>
                {{item.tipo}}
            </td>
            <td>
                {{item.importe}}
            </td>
            <td>
                {{item.divisa}}
            </td>
            <td>
                {{item.categoria}}
            </td>
            <td>
                {{item.monto}}
            </td>
          </tr>
        </template>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <b>Saldo final:</b>
          </td>
          <td>
            {{saldo}}
          </td>
        </tr>
    </table>
    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovApp extends Polymer.Element {
      static get is() {
        return 'mov-app';
      }
      static get properties() {
        return {
          nombre: {
            type: String,
            value: localStorage.getItem("nombre")
          },
          listado: {
            type: Array,
            notify: true
          },
          saldo: {
            type: Number,
            notify:true
          },
          hide: {
            type: Boolean,
            value: true
          }
        };

      }

    alta() {
      window.location="altamov.html"
    }

    cerrar(){
      localStorage.clear();
      window.location = "index.html"
    }

    consultaMovimientos() {
      this.hide = false;
      var id = localStorage.getItem("email");
      var url;
      var bandera = false;
      console.log("id: " +id);
      var request = new XMLHttpRequest();
      request.open("POST","http://localhost:3000/mov", false);
      request.setRequestHeader("Accept","application/json");
      request.setRequestHeader("Content-Type","application/json");
      request.setRequestHeader("idcliente",id);
      request.send();
      console.log(request.status);
      if (request.status == 200){
        var post = JSON.parse(request.responseText);
        var tiposDeCambio;
      //  this.nombre = post[0].nombre+" "+post[0].apellido;
        console.log(this.nombre);
        console.log(post[0].listado);
        if(post[0].listado == undefined){
          alert("No tienes Movimientos")
        }  else {
          //this.respuesta = JSON.parse(request.responseText);
          //console.log(post.listado);
          // this.listado =   this.respuesta[0].listado;
          this.listado = post[0].listado;
          console.table(post[0].listado);
          bandera = true;
        }
      }
      if (bandera){
      console.log(this.listado);
          var usd,eur,cad,tiposDeCambio,saldo=0,saldoC=0,saldoA=0;
          var json;
///////////////////////USD
          var request1 = new XMLHttpRequest();
          var json,time,q,mes,dia,fecha, horas, minutos, segundos, hora;
          time = new Date().getTime();
          var date = new Date(time);
          console.log(date.getMonth().toString().length);
          if(date.getMonth().toString().length < 2)
          {
            mes = "0"+date.getMonth();
          }
          if(date.getDate().toString().length < 2){
              dia = "0"+date.getDate();
          }
          if(date.getHours().toString().length < 2){
            horas = "0"+date.getHours();
          }else{
            horas = date.getHours().toString();
          }

          fecha = date.getFullYear()+"-"+mes+"-"+date.getDate();
          hora = horas+":00:00";
          console.log(fecha);
          console.log(hora);
          //q = "https://www1.oanda.com/rates/api/v2/rates/candle.json?api_key=havOzho95a3i0Howo3j67M40&date_time="+fecha+"T"+hora+"&base=USD&quote=MXN&fields=averages";
          q = "https://www1.oanda.com/rates/api/v2/rates/candle.json?api_key=2J3ZSiPiJKaiHfIN204NRI50&date_time="+fecha+"T"+hora+"&base=USD&quote=MXN&fields=averages";

          request1.open("GET",q,false);
          request1.send();
          json  = JSON.parse(request1.response);
          console.log(json);
          usd = json.quotes[0].average_ask;
          console.log(usd);

///////////////////////EUR
          var request2 = new XMLHttpRequest();
          //q = "https://www1.oanda.com/rates/api/v2/rates/candle.json?api_key=havOzho95a3i0Howo3j67M40&date_time="+fecha+"T"+hora+"&base=EUR&quote=MXN&fields=averages";
          //q = "https://www1.oanda.com/rates/api/v2/rates/candle.json?api_key=2J3ZSiPiJKaiHfIN204NRI50&date_time="+fecha+"T"+hora+"&base=EUR&quote=MXN&fields=averages";
          q = "https://www1.oanda.com/rates/api/v2/rates/candle.json?api_key=2J3ZSiPiJKaiHfIN204NRI50&date_time=2019-10-28T12:00:00-06:00&base=EUR&quote=MXN&fields=averages";
          request2.open("GET",q,false);
          request2.send();
          json  = JSON.parse(request2.response);
          console.log(json);
          eur = json.quotes[0].average_ask;
          console.log(eur);

///////////////////////CAD
          var request2 = new XMLHttpRequest();
          //q = "https://www1.oanda.com/rates/api/v2/rates/candle.json?api_key=havOzho95a3i0Howo3j67M40&date_time="+fecha+"T"+hora+"&base=CAD&quote=MXN&fields=averages";
          //q = "https://www1.oanda.com/rates/api/v2/rates/candle.json?api_key=2J3ZSiPiJKaiHfIN204NRI50&date_time="+fecha+"T"+hora+"&base=CAD&quote=MXN&fields=averages";
          q = "https://www1.oanda.com/rates/api/v2/rates/candle.json?api_key=2J3ZSiPiJKaiHfIN204NRI50&date_time=2019-10-28T12:00:00-06:00&base=CAD&quote=MXN&fields=averages";
          request2.open("GET",q,false);
          request2.send();
          json  = JSON.parse(request2.response);
          console.log(json);
          cad = json.quotes[0].average_ask;
          console.log(cad);

          var importe;
          for(var i=0;i<this.listado.length;i++)
          {
            if(this.listado[i].divisa == "USD"){
              importe=this.listado[i].importe*usd;
            }else if (this.listado[i].divisa == "EUR") {
              importe=this.listado[i].importe*eur;
            }else if(this.listado[i].divisa == "CAD")
            {
              importe=this.listado[i].importe*cad;
            }else{
              importe=this.listado[i].importe;
            }
            if(this.listado[i].tipo == "C"){
              this.listado[i].tipo = "Cargo"
              saldoC += parseFloat(importe);
              this.listado[i].monto =  "-"+importe;
            }else{
              saldoA += parseFloat(importe);
              this.listado[i].tipo = "Abono"
              this.listado[i].monto = importe;
            }

            console.log("saldoA: "+saldoA+" saldoC: "+saldoC+" importe: "+importe);
            console.log(this.listado[i].divisa + "-"+this.listado[i].tipo+ "-"+this.listado[i].importe+"-"+importe+"/"+this.listado[i].monto);
          }
          this.saldo = saldoA - saldoC;
          console.log("saldo: "+this.saldo);
        }
    }


 getTipoCambio(d) {

  window.location="tiposdecambio.html"
  /*var tiposDeCambio;
  var url = "https://www1.oanda.com/rates/api/v2/rates/candle.json?api_key=havOzho95a3i0Howo3j67M40&date_time=2019-08-20T01:00:00-05:00&base=EUR&quote=MXN&fields=averages";
  swtich(p)
  var request = new XMLHttpRequest();
  request.onreadystatechange = function() {
    if(this.readyState == 4 && this.status == 200) {
      tiposDeCambio = request.responseText;
      //procesarTiposDeCambio();
      var JSONTiposDeCambio = JSON.parse(tiposDeCambio);
      for (var i = 0; i < JSONTiposDeCambio.quotes.length; i++) {
        console.log("columnaAverageBid: " + JSONTiposDeCambio.quotes[i].average_bid);
        console.log("columnaAverageAsk: " + JSONTiposDeCambio.quotes[i].average_ask);
        console.log("midpoint: " + JSONTiposDeCambio.quotes[i].average_midpoint);
      }
    }
  }
  request.open("GET", url, true);
  request.send();*/
}

/*
 function procesarTiposDeCambio() {
  // var JSONProductos = JSON.parse(productosObtenidos);
  var JSONTiposDeCambio = JSON.parse(tiposDeCambio);
  var divTabla = document.getElementById("tablaTipoCambios");
  var tabla = document.createElement("table");
  var tbody =document.createElement("tbody");

  tabla.classList.add("table");
  tabla.classList.add("table-striped");

  for (var i = 0; i < JSONTiposDeCambio.quotes.length; i++) {
    var nuevaFila = document.createElement("tr");
    var columnaAverageBid = document.createElement("td");
    console.log("columnaAverageBid: " + columnaAverageBid)
    columnaAverageBid.innerText = JSONTiposDeCambio.quotes[i].average_bid;
    console.log("columnaAverageBid: " + columnaAverageBid)
    var columnaAverageAsk = document.createElement("td");
    columnaAverageAsk.innerText = JSONTiposDeCambio.quotes[i].average_ask;
    var columnaAverageMidpoint = document.createElement("td");
    columnaAverageMidpoint.innerText = JSONTiposDeCambio.quotes[i].average_midpoint;
    nuevaFila.appendChild(columnaAverageBid);
    nuevaFila.appendChild(columnaAverageAsk);
    nuevaFila.appendChild(columnaAverageMidpoint);
    tbody.appendChild(nuevaFila);
  }
  tabla.appendChild(tbody);
  divTabla.appendChild(tabla);

}
*/


  }
    window.customElements.define(MovApp.is,MovApp);

    function procesarTiposDeCambio() {
     // var JSONProductos = JSON.parse(productosObtenidos);
     var JSONTiposDeCambio = JSON.parse(tiposDeCambio);
     var divTabla = document.getElementById("tablaTipoCambios");
     var tabla = document.createElement("table");
     var tbody =document.createElement("tbody");

     tabla.classList.add("table");
     tabla.classList.add("table-striped");

     for (var i = 0; i < JSONTiposDeCambio.quotes.length; i++) {
       var nuevaFila = document.createElement("tr");
       var columnaAverageBid = document.createElement("td");
       console.log("columnaAverageBid: " + columnaAverageBid)
       columnaAverageBid.innerText = JSONTiposDeCambio.quotes[i].average_bid;
       console.log("columnaAverageBid: " + columnaAverageBid)
       var columnaAverageAsk = document.createElement("td");
       columnaAverageAsk.innerText = JSONTiposDeCambio.quotes[i].average_ask;
       var columnaAverageMidpoint = document.createElement("td");
       columnaAverageMidpoint.innerText = JSONTiposDeCambio.quotes[i].average_midpoint;
       nuevaFila.appendChild(columnaAverageBid);
       nuevaFila.appendChild(columnaAverageAsk);
       nuevaFila.appendChild(columnaAverageMidpoint);
       tbody.appendChild(nuevaFila);
     }
     tabla.appendChild(tbody);
     divTabla.appendChild(tabla);
   }
  </script>
</dom-module>
