<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../node_modules/bcrypt/bcrypt.js">

<link rel="import" href="../../src/alta-app/alta-app.html">
<link href="../../estilo.css" type="text/css" rel="stylesheet" media="">

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      *{
      	margin:0;
      	padding:0;
      	list-style:none;
      	font-family:sans-serif;
      	}

      #chat{
      	position:fixed;
      	width:250px;
      	height:40px;
      	bottom:0;
      	right:20px;
      	background:magenta;
      	z-index:1;
      	color:white;
      	text-align:center;
      	line-height:40px;
      	font-family: 'Kaushan Script', cursive;
      	font-size:20px;
      	border-radius:20px 20px 0 0;
      	cursor:pointer;
      	}

      header{
      	position:relative;
      	margin:20px auto;
      	width:1000px;
      	height:120px;
      	}

      #logo{
      	position:absolute;
      	top:30px;
      	left:30px;
      	width:200px;
      	height:60px;
      	font-family: 'Kaushan Script', cursive;
      	font-size:50px;
      	text-align:center;
      	line-height:60px;
      	}

      .redes{
      	position:absolute;
      	width:42px;
      	height:42px;
      	background:#ccc;
      	border-radius:100%;
      	text-align:center;
      	line-height:42px;
      	color:white;
      	}

      #icono1{
      	top:42px;
      	right:120px;
      	background:blue;
      	}

      #icono2{
      	top:42px;
      	right:71px;
      	background:green;
      	}

      #icono3{
      	top:42px;
      	right:19px;
      	background:red;
      	}

      nav{
      	position:relative;
      	margin:auto;
      	width:1000px;
      	height:48px;
      	}

      .botones{
      	float:left;
      	width:196px;
      	margin:0px 2px;
      	height:48px;
      	background:rgba(100,0,255,1);
      	font-family: 'Kaushan Script', cursive;
      	color:white;
      	text-align:center;
      	line-height:48px;
      	}

      a .botones:hover{
      	background:rgba(100,0,255,.4);
      	}

      a .botones:active{
      	background:rgba(255,0,100,1);
      	}

      #top{
      	position:relative;
      	margin:20px auto;
      	width:1000px;
      	height:192px;
      	}

      #top ul{
      	width:1010px;
      	height:192px;
      	}

      #top ul li{
      	float:left;
      	width:326px;
      	height:192px;
      	margin-right:10px;
      	text-align:center;
      	}

      #top ul li img{
      	border-radius:100%;
      	height:100px;
      	}

      #top ul li h1{
      	font-family: 'Kaushan Script', cursive;
      	}

      #top ul li p{
      	font-size:14px;
      	margin:10px;
      	}

      section{
      	position:relative;
      	margin:auto;
      	width:1000px;
      	height:453px;
      	}

      aside#izq{
      	position:absolute;
      	left:0;
      	top:0;
      	width:200px;
      	height:453px;
      	}


      aside#izq ul li{

      	background:#aaa;
      	padding:10px;
      	margin:2px 10px;
      	list-style:square;
      	list-style-position:inside;
      	list-style-image:url(lista.png);
      	}

      aside#izq ul li a{
      	text-decoration:none;

      	}

      article{
      	position:absolute;
      	left:200px;
      	top:0;
      	width:600px;
      	height:453px;
      	}

      article h1{
      	font-family: 'Kaushan Script', cursive;
      	font-size:40px;
      	margin:20px;
      	}

      article p img{
      	float:left;
      	margin-right:20px;
      	}

      article p {
      	margin:5px 20px;
      	font-size:14px;
      	text-align:justify;

      	}

      aside#der{
      	position:absolute;
      	right:0;
      	top:0;
      	width:200px;
      	height:453px;
      	}

      aside#der h1{
      	width:200px;
      	height:50px;
      	line-height:50px;
      	text-align:center;
      	background:rgba(100,0,255,1);
      	color:white;
      	margin-bottom:5px;
      	}

      aside#der input{
      	padding:10px;
      	margin:5px 0;
      	width:176px;
      	}

      aside#der input[type="text"]{
      	background:url(usuario.png);
      	background-repeat:no-repeat;
      	background-position:right;
      	background-size:contain;
      	}

      aside#der input[type="password"]{
      	background:url(password.png);
      	background-repeat:no-repeat;
      	background-position:right;
      	background-size:contain;
      	}

      aside#der input[type="submit"]{
      	width:200px;
      	background:rgba(100,0,100,.5);
      	border:0;
      	}

      footer{
      	position:relative;
      	margin:20px auto;
      	width:1000px;
      	height:70px;
      	background:rgba(100,0,255,1);
      	text-align:center;
      	line-height:70px;
      	color:white;
      	}
    </style>

    <header>
      <div class="container">
        <div id="logo">
          <img src="https://www.estrategadigital.com.mx/digital/wp-content/uploads/2019/06/114_9b.jpg" width="300px" height="100px" alt="">
        </div>
        <div id="icono1" class="redes">X</div>
        <div id="icono2" class="redes">X</div>
        <div id="icono3" class="redes">X</div>
      </div>
    </header>


    <nav>
      <ul>
        <a href="#"><li class="botones">Botón 1</li></a>
        <a href="#"><li class="botones">Botón 2</li></a>
        <a href="#"><li class="botones">Botón 3</li></a>
        <a href="#"><li class="botones">Botón 4</li></a>
        <a href="#"><li class="botones">Botón 5</li></a>
      </ul>
    </nav>

    <div id="top">
      <ul>
        <li>
          <img src="img01.jpg" width="100">
          <h1></h1>
          <p></p>
        </li>
        <li>
          <img src="img02.jpg" width="100">
          <h1></h1>
          <p></p>
        </li>
        <li>
          <img src="img03.jpg" width="100">
          <h1></h1>
          <p></p>
        </li>
      </ul>
    </div>

    <section>
      <aside id="izq">
        <ul>
        	<li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </aside>

      <article>
        <h1></h1>
    	  <p><img src="foto.jpg" width="250"></p>
        <br>
        <p></p>
      </article>

    <aside id="der">
    	<h1>Ingreso</h1>
        <form>
          <input type="email" placeholder="e-mail" value="{{email::input}}" required>
          <br/>
          <input type="password"  placeholder="Password" value="{{paasword::input}}" required>
          <!-- <input type="submit" value="Enviar"> -->
          <button on-click="logar" class="btn btn-success">Nuevo Login</button>
          <button on-click="alta" class="btn btn-info">Alta de usuarios</a>
        </form>
    </aside>
  </section>

<!--
    <div class="container">
      <div class="row">
        <!-
        <img src="https://www.estrategadigital.com.mx/digital/wp-content/uploads/2019/06/114_9b.jpg" width="300px" height="100px" alt="">
      ->
        <div clas="col-md-12">
          Email: <input type="email"  value="{{email::input}}" required>
          <br/>
          Paasword:<input type="password"  value="{{paasword::input}}" required>
          <br/>

          <button on-click="logar" class="btn btn-success">Login</button>

          <button on-click="alta" class="btn btn-info">Alta de usuarios</a>
       </div>
      </div>
      <div class="row">
        <span hidden$="{{!logeado}}">Bienvenido a la aplicacion</span>
      </div>
    </div>
  -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() {
        return 'login-app';
      }
      static get properties() {
        return {
          email: {
            type: String,
            required: true
            //value: 'demopolymer-app'
          },
          paasword: {
            type: String,
            required: true
          },
          logeado: {
            type: Boolean,
            value: false
          }
        };
      }


    logar() {
      var request = new XMLHttpRequest();
      request.open("POST","http://localhost:3000/login", false);
      request.setRequestHeader("Accept","application/json");
      request.setRequestHeader("Content-Type","application/json");
      request.setRequestHeader("email",this.email);
      request.setRequestHeader("paasword",this.paasword);
      request.send();
      this.respuesta = request.responseText;
      console.log("Entro a logar()");
      console.log(this.respuesta);
      console.log(request.status);
      if(request.status == 200) {
        this.logeado=true;
        localStorage.clear();
        localStorage.setItem("email",this.email);
        window.location = "mov.html";
        } else {
            this.logeado=false;
            alert("Usuario/Password no registrado favor de darse de alta ");
            }
        }

    // Funcion de alta de usuario
    alta(){
      window.location = "alta.html";
    }
  }
  window.customElements.define(LoginApp.is,LoginApp);
  </script>
</dom-module>
hola
