<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../src/alta-app/alta-app.html">

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="../../css/style.css" type="text/css" media="">
<!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  -->

    <style>


/*

:host {
  display: block;
}
      header{
      	position:relative;
      	margin:20px auto;
      	width:1000px;
      	height:120px;
      	}

      #logo{
        position:absolute;
        top:30px;
        left:30px;
        width:200px;
        height:60px;
        font-family: 'Kaushan Script', cursive;
        font-size:50px;
        text-align:center;
        line-height:60px;
        }

      .redes{
        position:absolute;
        width:42px;
        height:42px;
        background:#ccc;
        border-radius:100%;
        text-align:center;
        line-height:42px;
        color:white;
        }

      #icono1{
      	top:42px;
      	right:120px;
      	background:blue;
      	}

      #icono2{
      	top:42px;
      	right:71px;
      	background:green;
      	}

      #icono3{
      	top:42px;
      	right:19px;
      	background:red;
      	}

      aside#izq h1{
      	width:200px;
      	height:50px;
      	line-height:50px;
      	text-align:center;
      	background:rgba(100,0,255,1);
      	color:white;
      	margin-bottom:5px;
      	}

      aside#izq input[type="email"]{
        width: 200px;
      	background:url(usuario.png);
      	background-repeat:no-repeat;
      	background-position:right;
      	background-size:contain;
      	}

      aside#izq input[type="password"]{
        width: 200px;
      	background:url(password.png);
      	background-repeat:no-repeat;
      	background-position:right;
      	background-size:contain;
      	}

      aside#izq button[name="login"]{
      	width:100px;
      	background:rgba(100,0,100,.5);
      	border:0;
      	}

      aside#izq button[name="registro"]{
      	width:100px;
      	background:rgba(100,0,100,.5);
      	border:0;
      	}
*/


    </style>


      <div>
        <div id="logo">
          <img src="https://www.bbvanexttechnologies.com/wp-content/uploads/2019/07/Compartir_1200x630.png" width="300px" height="100px" alt="">
        </div>
      </div>

      <div>
        <div>
          <!--
          <img src="https://www.estrategadigital.com.mx/digital/wp-content/uploads/2019/06/114_9b.jpg" width="300px" height="100px" alt="">
        -->
          <div>
                <h1>Bienvenido a MovTechU</h1>
                <div class="row">
                  <div class="column-input"><input type="email" placeholder="e-mail" value="{{email::input}}" required></div>
                  <!--
                  <div class="column-icon"><img src="https://png.clipart.me/previews/85b/psd-universal-blue-web-user-icon-45876.jpg" width="50px" height="50px" alt=""></div>
                -->
                  <div class="column-icon"><img src="https://previews.123rf.com/images/wad/wad1607/wad160700038/60197296-icono-de-la-seguridad-personal-dise%C3%B1o-plano-concepto-de-seguridad-con-una-contrase%C3%B1a-de-un-cuadro-de-hombr.jpg" width="50px" height="50px" alt=""></div>
                </div>
                <div class="row">
                  <div class="column-input"><input type="password" placeholder="Password" value="{{paasword::input}}" required></div>
                  <!--
                  <div class="column-icon"><img src="https://upload.wikimedia.org/wikipedia/commons/9/98/SafeWalletLogo.png" width="50px" height="50px" alt=""></div>
                -->
                  <div class="column-icon"><img src="https://st2.depositphotos.com/1004274/11530/v/950/depositphotos_115304506-stock-illustration-safety-access-and-password-protection.jpg" width="50px" height="50px" alt=""></div>
                </div>
                <button name="login" on-click="logar" class="btn btn-success">Login</button>
                <button name="registro" on-click="alta" class="btn btn-success">Registro</button>
                </a>
         </div>
        </div>
  <!--
  <div class="container">
    <select name="tiposCambio">
      <option name="mxp" value="MXP">Pesos Mexicanos</option>
      <option name="usd" value="USD">Dolares USA</option>
      <option name="eur" value="EUR">Euros</option>
    </select>
  </div>
  -->
        <div class="row">
          <span hidden$="{{!logeado}}">Bienvenido a la aplicacion</span>
        </div>
      </div>
  </template>



  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() {
        return 'login-app';
      }
      static get properties() {
        return {
          nombre: {
            type: String,
            notify: true
          },
          email: {
            type: String,
            required: true
            //value: 'demopolymer-app'
          },
          paasword: {
            type: String,
            required: true
          },
          logeado: {
            type: Boolean,
            value: false
          }
        };
      }


    logar() {
      var request = new XMLHttpRequest();
      request.open("POST","http://localhost:3000/login", false);
      request.setRequestHeader("Accept","application/json");
      request.setRequestHeader("Content-Type","application/json");
      request.setRequestHeader("email",this.email);
      request.setRequestHeader("paasword",this.paasword);
      request.send();
      this.respuesta = request.responseText;
      console.log("Llego a logar()");
      console.log("this.respuesta.estatus:" + this.respuesta);
      //var getResponseJson = JSON.parse(this.respuesta);
      //console.log("getResponseJson: " + getResponseJson.nombre);
      console.log("request.status: " + request.status);
      var estatus = request.status;
      console.log("estatus: " + estatus);
      switch (estatus) {
        case 200:
          var getResponseJson = JSON.parse(this.respuesta);
          this.logeado=true;
          localStorage.clear();
          localStorage.setItem("email",this.email);
          localStorage.setItem("nombre",getResponseJson.nombre);
          window.location = "mov.html";
          break;
        case 402:
          this.logeado=false;
          alert("Password Incorrecto");
          break;
        case 404:
          this.logeado=false;
          alert("Usuario no registrado, favor de darse de alta ");
          break;
        default:
          this.logeado=false;
          alert("Error relacionado al usuario");
          break;
      }
    //  console.log(this.nombre);
    }

    // Funcion de alta de usuario
    alta(){
      localStorage.clear();
      localStorage.setItem("email",this.email);
      window.location = "alta.html";
    }
  }
  window.customElements.define(LoginApp.is,LoginApp);
  </script>
</dom-module>
hola
