<link rel="import" href="../../bower_components/polymer/polymer-element.html"
    <link rel="import" href="../../src/mov-app/mov-app.html">


<dom-module id="altamov-app">
  <template>
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  -->
    <link rel="stylesheet" href="../../css/style.css" type="text/css" media="">

    <style>
      :host {
        display: block;
      }
    </style>

    <header>
      <div class="container">
        <div id="logo">
          <img src="https://www.bbvanexttechnologies.com/wp-content/uploads/2019/07/Compartir_1200x630.png" width="300px" height="100px" alt="">
        </div>
      </div>
    </header>

    <div class="container">
      <div>
        <div>
          <div class="row">
            <div class="column-input">Fecha del movimiento: <input type="fecha" placeholder="YYYY-MM-DD" value="{{fecha::input}}" required></div>
          </div>
          <div class="row">
            <div class="column-input">Concepto: <input type="concepto" placeholder="Concepto del movimiento" value ="{{concepto::input}}"></div>
          </div>
          <div class="row">
            <div class="column-input">Importe: <input type="importe" placeholder="Importe" value="{{importe::input}}" required></div>
          </div>
          <div class="row">
            <p>Divisa:
              <select id="tipoDivisa" >
                <option name="MXP" value="MXP">Pesos Mexicanos</option>
                <option name="USD" value="USD">Dolares USA</option>
                <option name="CAD" value="CAD">Dolares Canadiense</option>
                <option name="EUR" value="EUR">Euro</option>
              </select>
            </p>
          </div>
          <div class="row">
            <p>Tipo de Movimiento:
              <select id="tipoMov" >
                <option name="cargo" value="C">Cargo</option>
                <option name="abono" value="A">Abono</option>
              </select>
            </p>
          </div>
          <div class="row">
            <div class="column-input">categoria: <input type="categoria" placeholder="Categoria" value ="{{categoria::input}}"></div>
          </div>
          <br/>

          <!--  <button on-click="principal" class="btn btn-info">Menu Principal</button></button> -->
          <button on-click="insertar" class="btn btn-info">Alta del movimiento</button>
          <button on-click="volver" class="btn btn-info">Cerrar Sesion</button></button>
        </div>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaMovApp extends Polymer.Element {
      static get is() {
        return 'altamov-app';
      }
      static get properties() {
        return {
          fecha: {
            type: String,
            required: true
          },
          concepto:{
            type: String,
            required: true
          },
          importe:{
            type: Number,
            required: true
          },
          divisa:{
            type: String,
            required: true
          },
          tipo:{
            type: String,
            required: true
          },
          categoria:{
            type: String,
            required: true
          }
        };
      }

      insertar() {
        var id = localStorage.getItem("email");
        console.log("e-mail:" + id);
        console.log("Entro a insertarMovimiento()");
        var request = new XMLHttpRequest();
        var query =  'q={"idcliente":"'+id+'"}'
        request.open("GET","https://api.mlab.com/api/1/databases/sarcos/collections/Movimientos%20?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt&"+query, false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");

        console.log(request);
        request.send();
        console.log("JSON: " + JSON.parse(request.response))

        var x = JSON.parse(request.response);

        //var nuevoMovimiento = {"fecha":this.fecha,"importe":this.importe,"categoria":this.categoria};
        var nuevoMovimiento = {"fecha":this.fecha,"concepto":this.concepto,"importe":this.importe,"divisa":this.$.tipoDivisa.value,"tipo":this.$.tipoMov.value,"categoria":this.categoria};
        x[0].listado.push(nuevoMovimiento);
        var que = {$set : {listado:x[0].listado}}
        console.log(nuevoMovimiento);

        var request1 = new XMLHttpRequest();
        request1.open("PUT","https://api.mlab.com/api/1/databases/sarcos/collections/Movimientos%20?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt&"+query, false);
        request1.setRequestHeader("Accept","application/json");
        request1.setRequestHeader("Content-Type","application/json");
        request1.setRequestHeader("idcliente",id);
        request1.setRequestHeader("fecha",this.fecha);
        request1.setRequestHeader("concepto",this.concepto);
        request1.setRequestHeader("importe",this.importe);
        request1.setRequestHeader("divisa",this.$.tipoDivisa.value)
        request1.setRequestHeader("tipo",this.$.tipoMov.value);
        request1.setRequestHeader("categoria",this.categoria);

        console.log(x);
        request1.send(JSON.stringify(que));
        console.log(request1);

        if(request.status == 200) {
           alert("Movimiento dado de alta");
           window.location = "mov.html"
         } else {
           alert("Ocurrio un error 404");
         }
      }

    volver()
    {
      window.location = "index.html"
    }
  }
    window.customElements.define(AltaMovApp.is,AltaMovApp);
  </script>
</dom-module>
Hola
