<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../src/login-app/login-app.html">
<link rel="import" href="../../src/mov-app/mov-app.html">

<dom-module id="tipcambio-app">
  <template>
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  -->
    <link rel="stylesheet" href="../../css/style.css" type="text/css" media="">

    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img src="https://www.estrategadigital.com.mx/digital/wp-content/uploads/2019/06/114_9b.jpg" width="900px" height="300px" alt="">
      </div>
    </div>
    <div>
      <p>
        ¡Hola, {{nombre}}!
      </p>
    </div>

  <nav>
    <ul>
      <button on-click="cerrar" class="botones">Volver</button>
      <button on-click="getUSD" class="botones">Dólar USD</button>
      <button on-click="getCAD" class="botones">Dólar CAD</button>
      <button on-click="getEUR" class="botones">Euro</button>
    </ul>
  </nav>

    <table border="1" hidden$="{{hide}}">
        <tr>
          <th>
            Compra
          </th>
          <th>
            Venta
          </th>
          <th>
            Promedio
          </th>
        </tr>
        <tr>
            <td>
                {{compra}}
            </td>
            <td>
                {{venta}}
            </td>
            <td>
                {{promedio}}
            </td>
          </tr>
    </table>
    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TipCambioApp extends Polymer.Element {
      static get is() {
        return 'tipcambio-app';
      }
      static get properties() {
        return {
          nombre: {
            type: String,
            value: localStorage.getItem("nombre")
          },
          compra: {
            type: Number,
            notify: true
          },
          venta: {
            type: Number,
            notify:true
          },
          promedio: {
            type: Number,
            notify:true
          },
          hide: {
            type: Boolean,
            value: true
          }
        };

      }

    getUSD() {
      this.hide = false;
      var json,time,q,mes,dia,fecha, horas, minutos, segundos, hora;
      time = new Date().getTime();
      var date = new Date(time);
      console.log(date.getMonth().toString().length);
      if(date.getMonth().toString().length < 2)
      {
        mes = "0"+date.getMonth();
      }
      if(date.getDate().toString().length < 2){
          dia = "0"+date.getDate();
      }
      if(date.getHours().toString().length < 2){
        horas = "0"+date.getHours();
      }else{
        horas = date.getHours().toString();
      }

      fecha = date.getFullYear()+"-"+mes+"-"+date.getDate();
      hora = horas+":00:00";
      console.log(fecha);
      console.log(hora);
      q = "https://www1.oanda.com/rates/api/v2/rates/candle.json?api_key=2J3ZSiPiJKaiHfIN204NRI50&date_time="+fecha+"T"+hora+"&base=USD&quote=MXN&fields=averages";
        console.log(q);
      var request1 = new XMLHttpRequest();
      request1.open("GET",q,false);
      request1.send();
      json  = JSON.parse(request1.response);
      console.log(json);
      this.venta = json.quotes[0].average_ask;
      this.compra = json.quotes[0].average_bid;
      this.promedio = json.quotes[0].average_midpoint;
      console.log("Compra: "+this.compra+" venta: "+this.venta+" prom: "+this.promedio);
    }

    getCAD(){
      this.hide = false;
      var json,time,q,mes,dia,fecha, horas, minutos, segundos, hora;
      time = new Date().getTime();
      var date = new Date(time);
      console.log(date.getMonth().toString().length);
      if(date.getMonth().toString().length < 2)
      {
        mes = "0"+date.getMonth();
      }
      if(date.getDate().toString().length < 2){
          dia = "0"+date.getDate();
      }
      if(date.getHours().toString().length < 2){
        horas = "0"+date.getHours();
      }else{
        horas = date.getHours().toString();
      }

      fecha = date.getFullYear()+"-"+mes+"-"+date.getDate();
      hora = horas+":00:00";
      console.log(fecha);
      console.log(hora);
      //q = "https://www1.oanda.com/rates/api/v2/rates/candle.json?api_key=havOzho95a3i0Howo3j67M40&date_time="+fecha+"T"+hora+"&base=CAD&quote=MXN&fields=averages";
      q = "https://www1.oanda.com/rates/api/v2/rates/candle.json?api_key=2J3ZSiPiJKaiHfIN204NRI50&date_time=2019-10-28T12:00:00-06:00&base=CAD&quote=MXN&fields=averages";
        console.log(q);
      var request1 = new XMLHttpRequest();
      request1.open("GET",q,false);
      request1.send();
      json  = JSON.parse(request1.response);
      console.log(json);
      this.venta = json.quotes[0].average_ask;
      this.compra = json.quotes[0].average_bid;
      this.promedio = json.quotes[0].average_midpoint;
      console.log("Compra: "+this.compra+" venta: "+this.venta+" prom: "+this.promedio);
    }

    getEUR() {
      this.hide = false;
      var json,time,q,mes,dia,fecha, horas, minutos, segundos, hora;
      time = new Date().getTime();
      var date = new Date(time);
      console.log(date.getMonth().toString().length);
      if(date.getMonth().toString().length < 2)
      {
        mes = "0"+date.getMonth();
      }
      if(date.getDate().toString().length < 2){
          dia = "0"+date.getDate();
      }
      if(date.getHours().toString().length < 2){
        horas = "0"+date.getHours();
      }else{
        horas = date.getHours().toString();
      }

      fecha = date.getFullYear()+"-"+mes+"-"+date.getDate();
      hora = horas+":00:00";
      console.log(fecha);
      console.log(hora);
      //q = "https://www1.oanda.com/rates/api/v2/rates/candle.json?api_key=havOzho95a3i0Howo3j67M40&date_time="+fecha+"T"+hora+"&base=EUR&quote=MXN&fields=averages";
      q = "https://www1.oanda.com/rates/api/v2/rates/candle.json?api_key=2J3ZSiPiJKaiHfIN204NRI50&date_time=2019-10-28T12:00:00-06:00&base=EUR&quote=MXN&fields=averages";
        console.log(q);
      var request1 = new XMLHttpRequest();
      request1.open("GET",q,false);
      request1.send();
      json  = JSON.parse(request1.response);
      console.log(json);
      this.venta = json.quotes[0].average_ask;
      this.compra = json.quotes[0].average_bid;
      this.promedio = json.quotes[0].average_midpoint;
      console.log("Compra: "+this.compra+" venta: "+this.venta+" prom: "+this.promedio);
    }

    cerrar() {
      window.location = "mov.html";
    }
  }
    window.customElements.define(TipCambioApp.is,TipCambioApp);

    </script>
</dom-module>
