<link rel="import" href="../../bower_components/polymer/polymer-element.html"
<link rel="import" href="/src/login-app/login-app.html">

<dom-module id="alta-app">
  <template>
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  -->
    <link rel="stylesheet" href="../../css/style.css" type="text/css" media="">

    <style>
      :host {
        display: block;
      }
    </style>

    <header>
      <div class="container">
        <div id="logo">
          <img src="https://www.bbvanexttechnologies.com/wp-content/uploads/2019/07/Compartir_1200x630.png" width="300px" height="100px" alt="">
        </div>
      </div>
    </header>

    <div class="container">
      <div>
        <!--
        <img src="https://www.estrategadigital.com.mx/digital/wp-content/uploads/2019/06/114_9b.jpg" width="300px" height="100px" alt="">
      -->
        <div>
          <h1>REGISTRO DE USUARIOS</h1>
           <hr width=100%  align="left" color="gray">
          <div class="row">
            <div class="column-input">e-mail:<input type="email" placeholder="e-mail" value="{{email::input}}" required></div>
          </div>
          <div class="row">
            <div class="column-input">Password:<input type="password" placeholder="Password" value="{{password::input}}" required></div>
          </div>
          <div class="row">
            <div class="column-input">Confirmar Password:<input type="password" placeholder="Password" value="{{passwordConfirm::input}}" required></div>
          </div>
          <div class="row">
            <div class="column-input">Empresa: <input type="company" placeholder="Empresa" value ="{{company::input}}"></div>
          </div>
          <div class="row">
            <div class="column-input">Nombre(s): <input type="name" placeholder="Nombre(s)" value ="{{name::input}}"></div>
          </div>
          <div class="row">
            <div class="column-input">Apellidos : <input type="lastname" placeholder="Apellidos" value ="{{lastname::input}}"></div>
          </div>
          <div class="row">
            <div class="column-input">Domicilio: <input type="adress" placeholder="Domicilio" value="{{adress::input}}"></div>
          </div>
          <div class="row">
            <div class="column-input">Ciudad: <input type="city" placeholder="Ciudad" value="{{city::input}}"></div>
          </div>
          <div class="row">
            <div class="column-input">Código Postal: <input type="postalcode" placeholder="Código Postal" value="{{postalcode::input}}"></div>
          </div>
          <div class="row">
            <div class="column-input">País: <input type="country" placeholder="Páis" value ="{{country::input}}"></div>
          </div>
          <div class="row">
            <div class="column-input">Teléfono <input type="phone" placeholder="Teléfono" value="{{phone::input}}"></div>
          </div>
          <br/>
          <button on-click="insertar" class="btn btn-info">Alta </button>
          <button on-click="volver" class="btn btn-info">Regresar</button>
        </div>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaApp extends Polymer.Element {
      static get is() {
        return 'alta-app';
      }
      static get properties() {
        return {
          email: {
            type: String,
            required: true
          },
          password:{
            type: String,
            required: true
          },
          /*
          passwordConfirm:{
            type: String,
            required: true
          },
          */
          company:{
            type: String,
            required: true
          },
          name: {
            type: String,
            required: true
          },
          lastname: {
            type: String,
            required: true
          },
          adress: {
            type: String,
            required: true
          },
          city:{
            type: String,
            required: true
          },
          postalcode:{
            type: Number
          },
          country:{
            type: String,
            required: true
          },
          phone:{
            type: Number,
            required: true
          }
        };
      }

/*
    getEmail(){
      var emailLocal = localStorage.getItem("email");
    }
    getEmail();
    this.getEmai();
    */

    insertar() {
      var id = localStorage.getItem("email");
      var usuarioCorrecto = "false";
      console.log("id: "+ id);
      /* Llamando al post de alta */
      //request.open("POST","https://api.mlab.com/api/1/databases/sarcos/collections/Usuarios?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt", false);
      var request = new XMLHttpRequest();
      request.open("POST","http://localhost:3000/alta", false);
      request.setRequestHeader("Accept","application/json");
      request.setRequestHeader("Content-Type","application/json");
      /* Llamado a la API de alta de movimientos */
      var requestB = new XMLHttpRequest();
      requestB.open("POST", "https://api.mlab.com/api/1/databases/sarcos/collections/Movimientos%20?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt", false);
      requestB.setRequestHeader("Accept","application/json");
      requestB.setRequestHeader("Content-Type","application/json");
      // Validar password iguales
      if(this.password == this.passwordConfirm){
        request.setRequestHeader("email",this.email);
        request.setRequestHeader("paasword",this.password);
        request.setRequestHeader("company",this.company);
        request.setRequestHeader("name",this.name);
        request.setRequestHeader("lastname",this.lastname);
        request.setRequestHeader("adress",this.adress);
        request.setRequestHeader("city",this.city);
        request.setRequestHeader("postalcode",this.postalcode);
        request.setRequestHeader("country",this.county);
        request.setRequestHeader("phone",this.phone);

        request.send();
        this.respuesta = request.responseText;

        //console.log(this.respuesta);
        console.log(request.status);
        if(request.status == 200) {
          this.logeado=true;
          this.usuarioCorrecto = true;

          var altaMovimiento = {"idcliente":this.email, "nombre":this.name, "apellido":this.lastname, "listado": []}
          console.log(this.email+ "/"+this.password);
          console.log(this.name+  "/"+this.lastname);
          var mov = JSON.stringify(altaMovimiento);
          console.log(mov);
          requestB.send(mov);
          this.respuestar = requestB.responseText;
          console.log(this.respuestar);
          if(requestB.status == 200) {
            localStorage.setItem("email",this.email);
            window.location="mov.html"
            } else {
            alert ("No se pudo insertar en movimientos");
            }
          } else {
              this.logeado=false;
              alert("Usuario/Password no registrado favor de darse de alta ");
          }

          console.log("Sigue la API de Movimientos");

        /*
        var requestB = new XMLHttpRequest();
        requestB.open("POST", "https://api.mlab.com/api/1/databases/sarcos/collections/Movimientos%20?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt", false);
        requestB.setRequestHeader("Accept","application/json");
        requestB.setRequestHeader("Content-Type","application/json");
        console.log("Antes del llamado a encriptarPass()");

        var altaMovimiento = {"idcliente":this.email, "nombre":this.name, "apellido":this.lastname, "listado": []}
        console.log(this.email+ "/"+this.password);
        console.log(this.name+  "/"+this.lastname);
        var mov = JSON.stringify(altaMovimiento);
        console.log(mov);
        requestB.send(mov);
        this.respuestar = requestB.responseText;
        console.log(this.respuestar);
        if(requestB.status == 200) {
          localStorage.setItem("email",this.email);
          window.location="mov.html"
        } else {
          alert ("No se pudo insertar en movimientos");
        }
        */
      } else {
        alert("Corroborar confirmación de Password");
      }

    }


  volver()
    {
      window.location = "index.html"
    }
  }
    window.customElements.define(AltaApp.is,AltaApp);
  </script>
</dom-module>
